<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body
        div.container
            - for (var i = 0; i < 12; i++)
                div.cube_wrap
                    div.cube
                        div.rotation
                            div.wall.front
                            div.wall.back
                            div.wall.left
                            div.wall.right
                            div.wall.top
                            div.wall.bottom
            - for (var i = 0; i < 150; i++)
                div.square